.book-input {
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ededed;
    width: 80%;
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    outline: none;
    background-color: #fff;
}
