.select-category {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    width: 70%;
    height: 30px;
    cursor: pointer;
}

.select-category:hover {
    background-color: #ededed;
}

@media (max-width: 1200px) {
    .select-category {
        width: 80%;
        height: 30px;
        margin-top: 10px;
    }

    .filter-select {
        margin-top: 60px;
        margin-left: -100px;
        width: 90px;
        height: 35px;
    }
}
