.submit-button {
    margin: 5px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff8c00;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    width: 30%;
    height: 33px;
    transition: all 0.3s ease-out;
}

@media (max-width: 1200px) {
    .submit-button {
        font-size: 13px;
        width: 35%;
    }
}
