.book {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 100px;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 15px auto 15px auto;
    padding: 30px;
    text-transform: uppercase;
}

.book:hover {
    background-color: #ededed;
}

.book-title {
    font-size: 20px;
    color: #3d3d3d;
    font-weight: bold;
    width: 30%;
}

.book-items {
    width: 17.5%;
    font-family: "Montserrat", sans-serif;
    color: #696969;
}

.book-buttons {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .book {
        flex-direction: column;
        align-items: unset;
        width: 280px;
        height: 300px;
    }
    .book-title {
        width: 90%;
    }
    .book-items {
        width: 80%;
    }
}
